<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211028165031-53uvis6lknv1q3rt64gfasdjhco163u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211028165031-53uvis6lknv1q3rt64gfasdjhco163u4</string>
	<key>API_KEY</key>
	<string>AIzaSyDEN03_JAIAmHzd1SvdTLj2YuETbu0o5qU</string>
	<key>GCM_SENDER_ID</key>
	<string>211028165031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soroSoke</string>
	<key>PROJECT_ID</key>
	<string>soro-soke-f0a15</string>
	<key>STORAGE_BUCKET</key>
	<string>soro-soke-f0a15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211028165031:ios:ae0404b7e3a6a88c783682</string>
</dict>
</plist>